@model P01.Models.Note

<div class = "well">

    <form>
        <div class = "row">
            <div class ="col-sm-1"> Title of the note </div>
            <div class ="col-sm-9">
                
                    <input type = "text" style = "width:500px" name = "title" value = "@Model.title">
                
            </div>
            <div class ="col-sm-2">
                
                    <input type="checkbox" name="markdown" value="markdown"> Markdown
                
            </div>
        </div>
         <textarea name="message" style="width:1000px; height:400px;">@Model.text </textarea> 
        <div class = "row">
            <div class = "col-sm-1">
                <div class="dropdown">@Model.category <br>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#">RandomCategory</a></li>    
                    </ul>
                </div>
            </div>
            
            <div class = "col-sm-3 col-sm-offset-6"> Category:
                <input type = "text" name = "category">
                <button type="button" class="btn btn-default">Add New</button>
            </div>
            
        </div>
        <hr/>
        <input type="submit" value="Submit">
        <input type="reset">
        <a asp-controller="Calendar" asp-action="Index" type = "button" class="btn btn-default">Cancel</a>

    </form>
        


</div>