@{
    String currentDate = DateTime.Now.Year.ToString() + '-' + DateTime.Now.Month.ToString() + '-' + DateTime.Now.Day.ToString();
    String maxDate = "2077-12-13";
    int numberOfPages = Model.Count/10 + 1;
}
@model List<P01.Models.Note>;

 <div class = "well">
            <form asp-action="Filter" asp-controller="Calendar">    
                <div class = "row">
                    <div class="col-sm-3">
                        From 
                        <input type="date" name = "from" value = @currentDate> 
                    </div>
                    <div class="col-sm-3">
                        To
                        <input type="date" name = "to" value = @maxDate> 
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name = "category">
                    </div>
                    <div class="col-sm-3">
                        <div class = "btn-group">
                            <input type="submit" value="Filter">
                            <input type="reset" value = "Clear">
                        </div>
                    </div>

            
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    
                </tr>
                </thead>
                <tbody>
                @foreach(var note in Model)
                {
                <tr>
                    @{
                    string printableDate =  note.date.Date.ToString("d");
                    }
                    <td>
                        @Html.DisplayFor(modelItem => printableDate) 
                    </td>
                    <td>@Html.DisplayFor(modelItem => note.title)
                     <a asp-action="Edit" asp-route-id= "@note.id" class="btn btn-default">Edit</a>
                     <a asp-action="DeleteFile" asp-route-id= "@note.id" class="btn btn-default">Delete</a>
                    </td>
                </tr>
                }
                </tbody>
            </table>

            <hr />
            
            <div class = "row">
                <div class="col-sm-6">
                    <div class="btn-group">
                    <a asp-controller="Calendar" asp-action="New" type = "button" class="btn btn-default">New</a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type = "button" class="btn btn-default">Prev Page</button>
                </div>
                <div class ="col-sm-2"> Page: @numberOfPages </div>
                <div class="col-sm-2">
                    <button type = "button" class="btn btn-default">Next Page</button>
                </div>

        
            </div>
            <hr />
            


        </div>

