@{
    String currentDate = DateTime.Now.ToString("MM/dd/yyyy");
    String maxDate = "12/12/2077";
    int numberOfPages = Model.Count/10 + 1;
}
@model List<P01.Models.Note>;

 <div class = "well">
            <div class = "row">
                <div class="col-sm-3">
                    From 
                     <input type="text" name = "from" value = "MM/dd/yyyy"> 
                </div>
                <div class="col-sm-3">
                    To
                    <input type="text" name = "to" value = "MM/dd/yyyy"> 
                </div>
                <div class="col-sm-2">
                    Categories
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> select
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                        <li><a href="#">Studies</a></li>
                        <li><a href="#">Sport</a></li>
                        <li><a href="#">Other</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type = "button" class="btn btn-default">Filter</button>
                </div>
                <div class="col-sm-2">
                    <button type = "button" class="btn btn-default">Clear</button>
                </div>

        
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Title</th>
                    
                </tr>
                </thead>
                <tbody>
                @foreach(var note in Model)
                {
                <tr>
                    @{
                    string printableDate =  note.date.Date.ToString("d");
                    }
                    <td>
                        @Html.DisplayFor(modelItem => printableDate) 
                    </td>
                    <td>@Html.DisplayFor(modelItem => note.title)
                     <a asp-action="Edit" asp-route-id= "@note.id" class="btn btn-default">Edit</a>
                        <button type = "button" class="btn btn-default">Delete</button>
                    </td>
                </tr>
                }
                </tbody>
            </table>

            <hr />
            
            <div class = "row">
                <div class="col-sm-6">
                    <div class="btn-group">
                    <a asp-controller="Calendar" asp-action="New" type = "button" class="btn btn-default">New</a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type = "button" class="btn btn-default">Prev Page</button>
                </div>
                <div class ="col-sm-2"> Page: @numberOfPages </div>
                <div class="col-sm-2">
                    <button type = "button" class="btn btn-default">Next Page</button>
                </div>

        
            </div>
            <hr />
            


        </div>

